asgiref==3.7.2   
certifi==2023.5.7
charset-normalizer==3.1.0   
Django==4.2.2   
djangorestframework==3.14.0  
idna==3.4     
Pillow==9.5.0   
pip==22.3.1  
python-decouple==3.8
pytz==2023.3
requests==2.31.0
setuptools==65.5.0
sqlparse==0.4.4
tzdata==2023.3